.container {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template: 1fr 8fr / 1fr 3fr;
}

.header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  grid-area: 1 / 2 / 2 / 3;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.search > input {
  height: 35px;
  width: 40vw;
  margin-left: 5px;
  border: 1px solid blue;
  border-radius: 8px;
}

.username {
  display: flex;
}

.username > img {
  border-radius: 50%;
}

.username > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; 
}
